{% extends "base.html" %}



{% block sidebar %}
<p class="lead">Categories</p>
        <div class="list-group">

                {% for category in root_categories %}
                    <a href="{% url 'category' category.id %}" class="list-group-item">{{ category.name }}</a>
                {% endfor %}

        </div>
{% endblock sidebar %}

{% block content %}
    <p>Wild Total Outdoors is a shop located in the heart of Ireland. We cater for anglers, game hunting and archery hobbies. We also stock outdoor footwear, survival equipment, thermal wear and a large selection of clothing. Simply, we are packed to the rafers with all the top of the range gear you with ever need for outdoor actitvities.</p>
{% endblock %}