<div class="col-lg-12">
    <div class="pagination">
        <span class="step-links">
            {% if products.has_previous %}
                <a class="btn btn-default" href="?page={{ products.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ products.number }} of {{ products.paginator.num_pages }}.
            </span>

            {% if products.has_next %}
                <a  class="btn btn-default" href="?page={{ products.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
</div>