{% extends 'base.html' %}

{% block sidebar %}
    {% include 'root_categories.html' %}
{% endblock sidebar %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-5">
                <div>
                    <img height="300" width="300"  src="{{ MEDIA_URL }}{{ product.image }}" alt="">
                </div>
            </div>
            <div class="col-lg-7">
                <h3 class="ProductName">{{ product.name }}</h3>
                <p>{{ product.description }}</p>
                <h4 class="ProductPrice">Price: € {{ product.price }}</h4>
                <a href="{% url 'buy_now_stripe' product.id %}" >Buy Now</a>
                        <form method="post" action="{% url 'add_to_cart' product.id %}">
                            {% csrf_token %}
                            Quantity
                            <input name='quantity' type="number" min="1" max="999">
                            <button type="submit">Add</button>
                        </form>
            </div>
        </div>
    </div>
{% endblock content %}