*
{
	-ms-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

.no-margin
{
	margin: 0;
}

.no-padding
{
	padding: 0;
}

/*carousel*/
.slide-image {
    width: 100%;

}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.spacer
{
	height:100px;
}

.navbar-fixed-top .nav {
    padding: 30px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;

}

.navbar-brand img
{
	margin-top: 5px;
}

.navbar-brand
{
	height: 110px;

}
.navbar-default
{
	background-color: #4cae4c;
}


.footer
{
	padding-top: 0;
    border-top: 10px solid #332e20;
    background-color: lightgray;
	padding-bottom: 0;
	/*max-height: 250px;*/
}




/***********
li
{
	list-style:none;
}
**************/

.col-md-12.Deer img
{

	
}


#exTab2 h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

