

/*
Color Pallette

Monochromatic Colors of #007500
navbar background #007500
H3 #008f00
H4 #00a800
H5 #00c200

Triadic Colors of #007500
Green #007500
Blue #000075
Dark Red #750000


Complementary Color
Green #007500
Purple #750075

Related Colors to Green #007500

#148314
#147014
#146e14
#148814
#147114
#146514
#146914
*/

*
{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

.no-margin
{
	margin: 0;
}

.no-padding
{
	padding: 0;
}

/*carousel*/
.slide-image
{
    width: 100%;

}

.carousel-holder
{
    margin-bottom: 30px;
}

.carousel-control,
.item
{
    border-radius: 4px;
}

/*end of carousel*/

/*spacers*/
.spacer100
{
	height:100px;
}

.spacer50
{
	height:50px;
}

/*end of spacers*/


.navbar-fixed-top .nav
{
    padding: 30px 0;
}

.navbar-fixed-top .navbar-brand
{
    padding: 0 15px;
}

.navbar-brand img
{
	margin-top: 5px;
}

.navbar-brand
{
	height: 110px;
}
.navbar-default
{
	background-color: #007500;
}

#spacerwidth
{
    width: 100px;
    height: 20px;
}

.lead.root
{
    color: #007500;
    font-weight:bold;
}

.list-group2 a
{
    color: #007500;
}

.lead
{
    color: #00a800;
    font-weight:bold;
}

.list-group a
{
    color: #00a800;
}




#exTab2 h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

#exTab3 h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}


div.col-md-5.Deer img
{
    padding-right: 0;
    margin-right: -10px;
}

li
{
    list-style: none;
}

h3.ProductName
{
    color:  #007500;

}
h4.ProductPrice
{
    color: #a20000;

}

.footer
{
	padding-top: 0;
    border-top: 10px solid #332e20;
    background-color: lightgray;
	padding-bottom: 0;
	/*max-height: 250px;*/
}