
/*** Color Pallette ****/
/*
Monochromatic Colors of #007500
navbar background #007500
H3 #008f00
H4 #00a800
H5 #00c200

Triadic Colors of #007500
Green #007500
Blue #000075
Dark Red #750000


Related Colors to Green #007500

#148314
#147014
#146e14
#148814
#147114
#146514
#146914
*/

/*** Color Pallette ****/

*
{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.no-margin
{
	margin: 0;
}

.no-padding
{
	padding: 0;
}

.display
{
    display: inline-block;
}


/*** spacers***/

.spacer100
{
	height:100px;
}

.spacer70
{
    height:70px;
}
.spacer65
{
     height:65px;
}
.spacer50
{
	height:50px;
}
.spacer35
{
    height:35px;
}
.spacer25
{
	height:25px;
}

.spacer10
{
	height:10px;
}

/*** spacers***/


/**** Navbar ****/

.navbar-fixed-top .nav
{
    padding: 30px 0;
}

.navbar-fixed-top .navbar-brand
{
    padding: 0 15px;
}

.navbar-brand img
{
	margin-top: 5px;
}

.navbar-brand
{
	height: 110px;
}
.navbar-default
{
	background-color: #007500;
}

/**** Navbar ****/


/**** Carousel ****/
.slide-image
{
    width: 100%;
}

.carousel-holder
{
    margin-bottom: 30px;
}

.carousel-control,
.item
{
    border-radius: 4px;
}

/**** Carousel ****/




#spacerwidth
{
    width: 100px;
    height: 20px;
}

/**** Categories Side Navbar ****/
.lead.root
{
    color: #007500;
    font-weight:bold;
}

.list-group2 a
{
    color: #007500;
}

.lead
{
    color: #750000;
    font-weight:bold;
}

.list-group a
{
    color: #750000;
}

/**** Categories Side Navbar ****/


/**** Products Tab  ****/
#exTab2 h3
{
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

#exTab3 h3
{
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}
.footer
{
	padding-top: 0;
    border-top: 10px solid #332e20;
    background-color: lightgray;
	padding-bottom: 0;
}

div.tab-content
{
    min-height:450px;
}
/**** Products Tab  ****/

/**** Footer ****/
@media only screen and (max-device-width: 480px)
{
    .display
    {
        display: inline-block;
    }
}

.footer
{
	padding-top: 0;
    border-top: 10px solid #332e20;
    background-color: lightgray;
	padding-bottom: 0;
}

.joe
{
    background-color: black;
}

div.col-md-12.Deer
{

    height:200px;
    padding-right: 0;
}

div.col-md-12.Deer img
{
    float: right;
    margin-right: 15px;
    padding-right: 0;
}

li
{
    list-style: none;
}

/**** Footer ****/


/**** Product Details Page ****/

.productimg
{
    width:300px;
    height:300px;
	overflow:hidden;
    padding:5px;
    margin: 0 auto;
    align-content: center;
}

img.productdetailimage
{
    width:95%;
    height:95%;
    display:block;
    margin:auto;
}

h3.ProductName
{
    color:  #007500;

}

h4.ProductPrice
{
    color: #a20000;
}

/**** Product Details Page ****/








