{% extends 'base.html' %}
{% load django_bootstrap_breadcrumbs %}

{% block sidebar %}
    <p class="lead">Categories</p>
    <div class="list-group">
        {% for category in categories %}
            <a href="{% url 'category' category.id %}" class="list-group-item">{{ category.name }}</a>
        {% endfor %}
    </div>
{% endblock sidebar %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
             <ol class="breadcrumb">
                {% for crumb in crumbs %}
                    {% if forloop.last %}
                        <li class="active">{{ crumb.name }}</li>
                    {% else %}
                        <li><a href="{% url 'category' crumb.id %}">{{ crumb.name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ol>

            {% for product in products %}
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="thumbnail" >
                        <div class = "prod_img">
                            <img height="180" width="180"  src="{{ MEDIA_URL }}{{ product.image }}" alt="">
                        </div>

                            <div class=" caption text-center prod_caption">
                                <h4>{{ product.name }}</h4>
                            </div>
                            <div class=" text-center prod_caption2">
                                <h5>Product No: {{ product.id }}</h5>
                                <h5>€{{ product.price }}</h5>
                            </div>
                            <div class=" caption text-center">

                                <a class="btn btn-default" onclick="location.href='{% url 'product_details' product.id %}'">More Details</a>
                            </div>

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}

