{% load static from staticfiles %}
{% load gravatar %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Wild Total Outdoors</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">

        <link rel="stylesheet" href="http://bootswatch.com/cosmo/bootstrap.min.css">
        <link rel="stylesheet" href="{% static "css/categories.css" %}">
        <link rel="stylesheet" href="{% static "css/accounts.css" %}">
        <link rel="stylesheet" href="{% static "css/common.css" %}">
        <script src="{% static "js/jquery-3.2.0.min.js" %}"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        <script src="{% static "js/navbar.js" %}"></script>
        <script src="{% static "js/bannerrotator.js" %}"></script>


        {% block head_js %}{% endblock %}
    </head>
    <body >

        {% include 'navbar.html' %}

        <div class="container">
            <div class ="spacer">
            </div>
        </div>

        {% block carousel %}

        {% endblock carousel %}



        <div class="container">

            {% if messages %}
                <div class="alert alert-success">
                    <div class="messages">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    {% block sidebar %}

                    {% endblock sidebar %}
                </div>

                <div class="col-md-9">


                            {% block content %}

                            {% endblock content%}


                </div>
            </div>
        </div>   <!-- /.container -->

        <div class="container">


            <!-- Footer -->
            <footer class="navbar-default footer">
                 <div class="container">
                  <div class=”row”>
                      <div class="col-md-2">
                          <address>
                            <strong>Wild Total Outdoors</strong><br>
                            1 Friars Mill Road<br>
                            Mullingar, Co. Westmeath<br>
                            (044) 930 1133 <br>
                            <a href="/">Contact Us</a>
                        </address>
                      </div>
                      <div class="col-md-2">
                          <strong>Navigation</strong><br>
                          <a href="/"> Contact Us</a><br>
                          <a href="/"> About Us</a><br>
                          <br>
                          <strong>Account</strong><br>
                          <a href="{% url 'login' %}?next={% url 'profile' %}">Log In</a><br>
                          <a href="{% url 'register' %}">Register</a><br>
                      </div>
                      <div class="col-md-3">
                          <strong>Categories</strong><br>

                              {% for category in root_categories %}

                                    <li class="category-name"><a href="{% url 'category' category.id %}">{{ category.name }}</a></li>

                              {% endfor %}

                      </div>
                      <div class="col-md-5 Deer">
                          <img src="{% static "images/DeerLogo.png" %}" alt="">
                      </div>

                  </div>
                 </div><!-- end container -->
            </footer>

        </div>
        <!-- /.container -->
    </body>

</html>