{% load static from staticfiles %}
{% load gravatar %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Wild Total Outdoors</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/cerulean/bootstrap.min.css">
        <link rel="stylesheet" href="{% static "css/accounts.css" %}">
        <link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css ">

        {% block head_js %}{% endblock %}
    </head>
    <body>

                <!-- Fixed masthead -->
        <nav class="navbar navbar-masthead navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'index' %}">Wild Total Outdoors</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
                        <li><a href="#"><i class="fa fa-cube"></i> Products</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false"><span><img src="{% gravatar_url user.email %}"
                                                                style="width:25px; height: 25px; background-color: #12ABB2; color: #ffffff;"
                                                                class="img-circle"></span> Account <span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {% if user.is_authenticated %}
                                    <li><a href="{% url 'profile' %}">Profile</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{% url 'logout' %}">Log Out</a></li>
                                {% else %}
                                    <li><a href="{% url 'login' %}?next={% url 'profile' %}">Log In</a></li>
                                    <li><a href="{% url 'register' %}">Register</a></li>
                                {% endif %}
                            </ul>
                        </li>

                        <li><a href="#"><i class="fa fa-shopping-cart"></i> Cart</a></li>

                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <div id="masthead">
            <div class="container">
                <div class="row">
                    <h1> Wild Total Outdoors
                        <p id="logo" class="lead">Wild Total Outdoors</p>
                    </h1>
                </div>
            </div>
        </div>


        <div class="container">
            {% block content %}

            {% endblock %}
        </div>
        <hr>



         <footer>
             <div class="footer">
                <p>Made By Martin Allard </p>
            </div>
         </footer>
        <!-- script references -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
    </body>
</html>