{% extends 'base.html' %}
{% block carousel %}
    {% include 'carousel.html' %}
{% endblock carousel %}

{% block sidebar %}
    {% include 'root_categories.html' %}
{% endblock sidebar %}

{% block content %}
    <div class="row">
        <div class="col-lg-12 ">
            <div class ="spacer25"></div>
            <h2 >Wild Total Outdoors</h2>
            <p>Wild Total Outdoors
                1 Friars Mill Road
                Mullingar, Co. Westmeath
                (044) 930 1133</p>
        </div>
    </div>
{% endblock content %}