{% extends 'base.html' %}

{% block sidebar %}

{% endblock sidebar %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
                <div class="thumbnail_details">

                    <img height="300" width="300"  src="{{ MEDIA_URL }}{{ brand.image }}" alt="">
                    <div class="caption-full">
                        <h5>{{ brand.name }}</h5>
                        <h5>{{ brand.id }}</h5>

                    </div>
                    <div class=" caption text-center">

                    </div>
                </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">
            <div id="exTab3" class="container">
                <div class="col-md-9">
                    <ul class="nav nav-tabs">
                        <li class="active">
                                <a  href="#1" data-toggle="tab">All Products</a>
                            </li>
                            <li>
                                <a  href="#2" data-toggle="tab">New Arrivals</a>
                            </li>
                            <li>
                                <a href="#3" data-toggle="tab">Specials</a>
                            </li>
                            <li>
                                <a href="#4" data-toggle="tab">Featured</a>
                            </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="1">
                            <div class ="spacer50">
                            </div>
                            {% include 'allbrandproducts.html' %}

                        </div>
                        <div class="tab-pane" id="2">
                            <div class ="spacer50">
                            </div>
                            {% include 'newbrandproducts.html' %}
                        </div>
                        <div class="tab-pane" id="3">
                            <div class ="spacer50">
                            </div>
                            {% include 'specialbrandproducts.html' %}
                        </div>
                        <div class="tab-pane" id="4">
                            <div class ="spacer50">
                            </div>
                            {% include 'featuredbrandproducts.html' %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

{% endblock content %}